<a href="https://colab.research.google.com/github/psrana/Topsis/blob/main/topsis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# **Multi-criteria decision making (MCDM) using Topsis**
---
- MCDM refers to select the best choice, having multiple-conflicting-criteria.
- Topsis helps to generate single score to make the decision

### **Self learning resource**
- Tutorial on Topsis **<a href="https://en.wikipedia.org/wiki/TOPSIS" target="_blank"> Click Here</a>**

---
## **1.1 Installing topsis library**
---

In [1]:
install.packages('topsis')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

---
## **1.2 Import the library**
---

In [2]:
library(topsis)

---
## **1.3 Download the Topsis-Dataset and upload to content drive**

- **<a href="https://drive.google.com/drive/folders/1gkfVzqFfurRycF4Qh9OaLzrIPicKSxj8?usp=sharing" target="_blank"> Click Here</a>** for Dataset

---


## **1.4 Read the dataset**
---

In [3]:
mydata=read.csv('/content/sample_data/Topsis-Dataset.csv')
mydata

  Model Corr Rseq RMSE Accuracy
1 M1    0.79 0.62 1.25 60.89
2 M2    0.66 0.44 2.89 63.07
3 M3    0.56 0.31 1.57 62.87
4 M4    0.82 0.67 2.68 70.19
5 M5    0.75 0.56 1.30 80.39

---
## **1.5 Convert the dataset to Matrix**
---

In [4]:
d <- as.matrix(mydata[,-1]) # -1, drop 1st column
d

     Corr Rseq RMSE Accuracy
[1,] 0.79 0.62 1.25 60.89
[2,] 0.66 0.44 2.89 63.07
[3,] 0.56 0.31 1.57 62.87
[4,] 0.82 0.67 2.68 70.19
[5,] 0.75 0.56 1.30 80.39

---
## **1.6 Assigning the impacts**
---

In [5]:
i <- c("+", "+", "-", "+")
i

[1] "+" "+" "-" "+"

---
## **1.7 Assigning the weights**
---

In [6]:
w <- c(1,1,1,1)
w

[1] 1 1 1 1

---
## **1.8 Calling the topisis function**
---

In [7]:
topsis(d, w, i)

  alt.row score     rank
1 1       0.7722097 2
2 2       0.2255988 5
3 3       0.4388973 4
4 4       0.5238779 3
5 5       0.8113887 1

---
## **2 Complete Code**
---

In [8]:
library(topsis)
mydata=read.csv('/content/sample_data/Topsis-Dataset.csv')
d <- as.matrix(mydata[,-1]) # -1, drop 1st column
i <- c("+", "+", "-", "+")
w <- c(1,1,1,1)
topsis(d, w, i)

  alt.row score     rank
1 1       0.7722097 2
2 2       0.2255988 5
3 3       0.4388973 4
4 4       0.5238779 3
5 5       0.8113887 1